<!DOCTYPE html>
<html>
  <head>
    <title>ExcersiceView</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'home/header' %>
    <%= yield %>
    <h1>Welcome to the Home Page!</h1>
<p>This is the home page content.</p>
    <%= render partial: 'home/footer' %>
  </body>
</html>
